<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <title>.GetHUb</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic' rel='stylesheet' type='text/css'>
    <style>
    #fun {
      color: yellow;
    }
    </style>
</head>

<body>
    <nav class="navbar-inverse">
        <p style="font-size: 2.3em; font-family: 'impact'; color: #DC5555; margin-left: 20px; padding-top: 10px;">Gethub</p>
    </nav>
    <div class="container">
        <div ng-controller="Controller as ctrl">
            <div class="form-group">
                <label for="">
                    <h1><strong>Insert</strong> Github Username</h1></label>
                <form ng-submit="ctrl.getUser()">
                    <input type="text" class="form-control" ng-model="ctrl.user" value="Search"></input>
                </form>
            </div>
            <ul id="fun" ng-repeat="item in ctrl.results">
                    <li>{{item.name}}</li>
                    <li>{{item.company}}</li>
                    <li>{{item.public_repos}}</li>
            </ul>
        </div>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/controller.js"></script>

</body>

</html>
